.InstructionLabel{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 46px;
    -fx-text-fill: red; 
    -fx-font-weight: bold; 
    -fx-text-decoration: underline; 
}
.anchorPane {
    -fx-background-color: lightblue;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px; 
}
.resultText{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 36px;
    -fx-text-fill: red; 
    -fx-font-weight: bold; 
    -fx-text-decoration: underline; 
}

.optionButton{
    -fx-font-weight: bold;
    -fx-background-color: #ECD8F2;
    -fx-background-radius: 22;
    -fx-border-color: #8F60BF;
    -fx-font-family: "Comic Sans MS";
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: #4377de;
}

.optionButton:hover{
    -fx-font-weight: bold;
    -fx-background-color: #A0BBF2;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #0583F2;
    -fx-border-color: #06457a;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}