.button 
{
    -fx-background-color : #5C6D9B;
    -fx-background-radius: 5 5 5 5;
}

.button:hover
{
    -fx-background-color : #C8DBEC;
    -fx-background-radius : 5 5 5 5;
}

.button:pressed
{
    -fx-background-color : #98B3CA;
    -fx-background-radius: 5 5 5 5;

}