.button 
{
    -fx-background-color : #6aade5;
    -fx-background-radius: 30 30 30 30;
}
.button:hover
{
    -fx-background-color : #ffe8f0;
    -fx-background-radius : 30 30 30 30;
}
.button:pressed
{
    -fx-background-color : #6aade5;
    -fx-background-radius: 30 30 30 30;

}