.button 
{
    -fx-background-color : #a4d0f5;
    -fx-background-radius: 30 30 30 30;
}
.button:hover
{
    -fx-background-color : #ffe8f0;
    -fx-background-radius : 30 30 30 30;
}
.button:pressed
{
    -fx-background-color : #8bc0ec;
    -fx-background-radius: 30 30 30 30;

}

