.button 
{
    -fx-background-color : #a4d0f5;
    -fx-background-radius: 0 30 30 0;
}
.button:hover
{
    -fx-background-color : #ffe8f0;
    -fx-background-radius : 0 30 30 0;
}
.button:pressed
{
    -fx-background-color : #a4d0f5;
    -fx-background-radius: 0 30 30 0;

}